.single-view-col {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /* box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; */
    color: white;
}
.single-input-area {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}